<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Campground</title>
  </head>
  <body>
    <h1>New Campground!</h1>
    <main>
      <form action="/campgrounds" method="POST">
        <div class="form-field title-field">
          <label for="title"><b>Title</b></label>
          <input type="text" name="campground[title]" id="title" />
        </div>

        <div class="form-field location-field">
          <label for="location"><b>Location</b></label>
          <input type="text" name="campground[location]" id="location" />
        </div>

        <div class="form-field btn-field">
          <button type="submit">Add</button>
        </div>
      </form>
      <br />
      <a href="/campgrounds">Back</a>
    </main>
  </body>
</html>
